/* 
   rem= Relative depends root
   1rem = 16 px default browser style
 */

.banner {
	width: 50 vw;
	height: 50vh;
	background-color: red;
}

.header {
	width: 50 vw;
	height: 50vh;
	background-color: red;
}
