/* 
    CSS BOX MODEL
 */

h1 {
	background-color: red;
	padding-top: 80px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 35px;
}

p {
	background: blue;
    
	/* padding: 10px  all side padding */

	/* padding: 30px (top,bottom) 45px(Left,Right); */

    /* padding: 10px (top) 20px(Right) 30px (bottom) 40px(Left); */


}
