/* 
    CSS BOX MODEL
    Border
 */

h1 {
	background-color: red;

    /*    All Round
     border-style: solid;
    border-width:10px;
    border-color: green; */

    /*  Just One Side
    border-bottom: dashed;
    border-bottom-width: 5px;
    border-bottom-color: #222; */


}
p {
	background: blue;
    /* Short Cut */
    border: 13px solid blue


}
